{% extends 'base.html.twig' %}

{% block title %}
Home Controller
{% endblock %}

{% block body %}
    <div id="app">
    </div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}